
    <!-- BEGIN VENDOR JS-->
    <script src="/static/assets/vendors/js/vendors.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="/static/assets/vendors/js/charts/chartist.min.js" type="text/javascript"></script>
    <script src="/static/assets/vendors/js/charts/chart.min.js"    type="text/javascript"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN CHAMELEON  JS-->
    <script src="/static/assets/js/core/app-menu-lite.js" type="text/javascript"></script>
    <script src="/static/assets/js/core/app-lite.js"      type="text/javascript"></script>
    <!-- END CHAMELEON  JS-->
